<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th>Nombre</th>
        <th class="text-end">Precio</th>
        <th class="text-end">Costo</th>
        <th class="text-end">Stock</th>
        <th class="text-end">Stock mín.</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>

      @for (product of products(); track product.id) {
        <tr class="hover:bg-primary/10">
          <td>{{ product.name }}</td>
          <td class="text-end tabular-nums whitespace-nowrap">S/. {{ product.salePrice | number:'1.2-2' }}</td>
          <td class="text-end tabular-nums whitespace-nowrap">S/. {{ product.unitCostAvg | number:'1.2-2' }}</td>
          <td class="text-end tabular-nums">{{ product.stock }}</td>
          <td class="text-end tabular-nums">{{ product.minStock }}</td>

          <td>
            <!-- Edit Button -->
             <app-button variant="accent" (click)="edit.emit(product)">Editar</app-button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

