<h3 class="font-bold text-lg mb-4 text-base-content">Nuevo Producto</h3>

<form
  class="flex flex-col gap-3" 
  (ngSubmit)="onSubmit()"
  [formGroup]="purchaseForm"
>
  <!-- Nombre -->
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text font-medium text-base-content mb-1">Nombre del producto</span>
    </div>
    <input type="text" placeholder="Ej. Agua mineral 500ml" class="input input-bordered w-full" formControlName="name" />
  </label>

  <!-- Precio y Stock Mínimo -->
  <div class="grid grid-cols-2 gap-4">
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text font-medium text-base-content mb-1">Precio de venta</span>
      </div>
      <label class="input input-bordered flex items-center gap-2">
        <span class="text-base-content/60">S/.</span>
        <input type="number" step="0.01" placeholder="2.50" class="grow" formControlName="salePrice"/>
      </label>
    </label>

    <label class="form-control w-full">
      <div class="label">
        <span class="label-text font-medium text-base-content mb-1">Stock mínimo</span>
      </div>
      <input type="number" placeholder="Ej. 10" class="input input-bordered w-full" formControlName="minStock" />
    </label>
  </div>
  
  <!-- Categoría -->
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text font-medium text-base-content mb-1">Categoría</span>
    </div>
    <select class="select select-bordered w-full text-base-content">
      <!-- <option disabled selected>Seleccione una categoría</option> -->
      <!-- Opción con tu ID de prueba -->
      <option>Ninguna</option>
      <option value="550e8400-e29b-41d4-a716-446655440000">Bebidas (Ejemplo)</option>
    </select>
  </label>

  <!-- Botones de Acción -->
  <div class="flex justify-end gap-3 mt-4">
    <button type="button" class="btn btn-ghost" (click)="onCancel.emit()">Cancelar</button>
    <button type="submit" class="btn btn-primary" [disabled]="purchaseForm.invalid">Guardar Producto</button>
  </div>
</form>